h1 {
  color: blue;
}

.content {
  min-height: 800px;
}

footer {
  border-top: 1px solid black;
}

.header_link {
  text-decoration: none;
  color:#999;
}

body {
  padding-top:60px;
}

.login {
  padding-right: 20px;
}
